<div class="container-fluid bannerjoin p-0">
    <img src="~/images/banner1joinnow.png" />

    <div class="container text-center">
        <h2 class="mt-5" style="color:#00aeef">An award-winning learning experience</h2>
        <h4 class="my-3">Maths & English | Class I–XII</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="award-winning"><img src="~/images/nappa-product-awards-2x.png" width="100" height="100" /></div>
        <div class="award-winning mx-3"><img src="~/images/codie-2022-large-2x.png" width="100" height="100" /></div>
        <div class="award-winning mx-3"><img src="~/images/readers-choice-2018-109-2x.png" width="100" height="100" /></div>
        <div class="award-winning mx-3"><img src="~/images/edtech-cool-tool-2x.png" width="100" height="100" /></div>
        <div class="award-winning"><img src="~/images/moms-choice-award-2x.png" width="100" height="100" /></div>
    </div>
    <div class="d-flex justify-content-center my-4">
        <div class="display-6 mx-3">
            Over <b style="color:#0bc1b6">14 million</b><br />
            students use IXL
        </div>
        <div class="display-6 mx-3">
            Trusted by over <br />
            <b style="color:#0bc1b6"> 300,000 parents</b>
        </div>
        <div class="display-6 mx-3">
            <b style="color:#0bc1b6">  120 billion </b>questions<br />
            answered and counting
        </div>

    </div>
    <div class="text-center m-5">
        <button type="button" class=" getstarted btn btn-sm px-4 py-2 ">Get started today</button>

    </div>
</div>
<div class="container-fluid certificate p-0">
    <img src="~/images/certificate1.png" />
    <div class="certificate-text">
        <h1 class="text-center text-dark pt-5" style=" font-weight: bold;">
            Learning that clicks. Knowledge that sticks.
        </h1>
    </div>

</div>
<div class="container">
    <h1 class="text-center display-5 my-5" style="color:#0bc1b6">Learning designed for your child</h1>
    <svg width="600" height="400">
        <mask id="svgmask1">
            <circle fill="#ffffff" cx="75" cy="75" r="75"></circle>
        </mask>
        <image xlink:href="bannerixl-2.png" mask="url(#svgmask1)"></image>
    </svg>
</div>
<div class="container-fluid" style="background-color:#efefef;">
    <div class="text-center">
        <div class="display-5 py-4" style="color:#00b971;">Become a member</div>
        <div class="py-4" style="color:#545454;font-size:25px;">Get started with one of these popular packages today!</div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card m-3" style="width:300px;position:relative;border-radius:10px;">
            <img class="card-img-top" src="~/images/bannerixl-2.png" alt="Card image" style="width:100%;border-radius:10px 10px 0px 0px;">
            <div class="text-center" style="position:absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); color:#fff;">
                <div class="display-6">Maths</div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center" style="color:#0bc1b6;">
                    <h4 class="card-title">Rs-599</h4>
                    <h6 class="card-title d-flex align-bottom"> Per month</h6>
                </div>
                <div class="d-flex justify-content-center my-4"> <a href="#" class="btn" style="color:#fff;background-color:#0bc1b6">Join now!</a></div>
            </div>
        </div>
        <div class="card m-3" style="width:300px;position:relative;border-radius:10px;">
            <img class="card-img-top" src="~/images/bannerixl-2.png" alt="Card image" style="width:100%;border-radius:10px 10px 0px 0px;">
            <div class="text-center" style="position:absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); color:#fff;">
                <div class="display-6">English</div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center" style="color:#0bc1b6;">
                    <h4 class="card-title">Rs-599</h4>
                    <h6 class="card-title d-flex align-bottom"> Per month</h6>
                </div>
                <div class="d-flex justify-content-center my-4"> <a href="#" class="btn" style="color:#fff;background-color:#0bc1b6">Join now!</a></div>
            </div>
        </div>
        <div class="card m-3" style="width:300px;position:relative;border-radius:10px;">
            <img class="card-img-top" src="~/images/bannerixl-2.png" alt="Card image" style="width:100%;border-radius:10px 10px 0px 0px;">
            <div class="text-center" style="position:absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); color:#fff;">
                <div class="display-6">Maths&English</div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center" style="color:#0bc1b6;">
                    <h4 class="card-title">Rs-949</h4>
                    <h6 class="card-title d-flex align-bottom"> Per month</h6>
                </div>
                <div class="d-flex justify-content-center my-4"> <a href="#" class="btn" style="color:#fff;background-color:#0bc1b6">Join now!</a></div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-4">
        <div class="mx-2" style="font-size:18px;">Looking for more options?</div>
        <a href="#">See all membership plans >></a>
    </div>
</div>
<div class="container-fluid homeschooler py-4">
    <img src="~/images/homeschooler.png" />
    <div class="homeschool-text text-center">
        <h1 style="color:#00b971">For the homeschooler</h1>
        <h4 style="color:#545454;">IXL'S Family memberships are perfect for homeschooling families.</h4>
        <div class="ps-5 pt-5 d-flex justify-content-end">
            <div class="ps-5">
                <p>Unlimited access to IXL's limitless practice problems</p>
                <p>Breadth of content covering over 4,500 unique topics</p>
                <p>Personalised learning that adapts to your child's level</p>
                <p>up-to-date tracking on your child's progress</p>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" style="background-color:#efefef;">
    <div class="container">
        <div class="text-center py-4" style="color:#00b971;">
            <h2>What parents and students are saying</h2>
        </div>
        <div class="row py-3">
            <div class="col-sm-4">
                <div class="card   bg-white h-100">
                    <div class="card-body m-2">
                        <div class="parents-details">
                            <p class="card-text">
                                I can see that my daughter, who uses IXL,
                                has mastered simple addition already, while her school has
                                just started on this topic. <b>This boosts her confidence in school.</b>
                            </p>
                            <hr />
                        </div>
                        <div class="parents name" style="color:#00b971">
                            <h5>Vidhya .M</h5>
                            <p>parent, Bangalore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card  bg-white h-100">
                    <div class="card-body m-2">
                        <div class="parents-details">
                            <p class="card-text">
                                <b>I'm improving at an amazing rate.</b>
                                In CIE [University of Cambridge International Examinations],
                                we have to do checkpoints at class VIII. The marking scheme
                                is 1–6 with 6 being the highest grade. I got 6 in math BECAUSE
                                OF IXL!!
                            </p>
                            <hr />
                        </div>
                        <div class="parents name" style="color:#00b971">
                            <h5>Vibhawari J.</h5>
                            <p>class IX student, Hyderabad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card   bg-white h-100">
                    <div class="card-body m-2">
                        <div class="parents-details">
                            <p class="card-text">
                                We were looking for an interactive and colorful
                                software that my son Tyenn could use to<b>
                                    encourage
                                    his love of math.
                                </b>  He's able to revisit concepts
                                he has already learned, as well as items of
                                increasing difficulty. Thank you for a program that
                                both challenges and encourages him!
                            </p>
                            <hr />
                        </div>
                        <div class="parents name" style="color:#00b971">
                            <h5>Fleurztael Duckworth</h5>
                            <p>
                                parent of IXL Rockstar Tyenn,
                                Wilson, North Carolina, U.S.A.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-sm-4">
                <div class="card  bg-white h-100">
                    <div class="card-body m-2">
                        <div class="parents-details">
                            <p class="card-text">
                                Since my daughter started using IXL, she has been
                                able to <b>better understand the concepts</b> taught
                                in school. She has also become more patient and more
                                careful while working out her problems
                            </p>
                            <hr />
                        </div>
                        <div class="parents name" style="color:#00b971">
                            <h5>Priya</h5>
                            <p>parent, Bangalore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-white h-100">
                    <div class="card-body m-2">
                        <div class="parents-details">
                            <p class="card-text">
                                I like how the <b>
                                    reports show
                                    comprehensive coverage
                                </b> of everything you
                                do on IXL. Also, the syllabus-aligned
                                skills are great.
                            </p>
                            <hr />
                        </div>
                        <div class="parents name" style="color:#00b971">
                            <h5>Adithyan</h5>
                            <p>class VI student, Trivandrum, Kerala</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <img src="~/images/certificate10.png" />
        </div>
    </div>
</div>
<div class="container-fluid p-0 joinbanner">
    <img src="~/images/joinbanner.png" />
    <div class="join-text py-4 text-center">
        <h2 style="color:#fff;">Try IXL and get...</h2>
        <div class="d-flex py-3">
            <div class="mx-5">
                <img src="~/images/ticimage.png" />
            </div>
            <div class="text-light">
                <h5><b>Unlimited access</b> to maths and English practice.</h5>
            </div>
        </div>
        <div class="d-flex py-3">
            <div class="mx-5">
                <img src="~/images/ticimage.png" />
            </div>
            <div class="text-light">
                <h5><b> Dynamic and interactive questions</b> that adjust to your child's level.</h5>
            </div>
        </div>
        <div class="d-flex py-3">
            <div class="mx-5">
                <img src="~/images/ticimage.png" />
            </div>
            <div class="text-light">
                <h5><b>Fun awards and certificates</b> that motivate your child to master new challenges.</h5>
            </div>
        </div>
        <div class="d-flex justify-content-center my-2"> <a href="#" class="btn" style="color:#fff;background-color:#e6ff00;color:#000;">Join now!</a></div>
        <p class="text-light" style="font-size:12px;">We know you'll love IXL! Try it risk-free with our 30-day satisfaction guarantee.</p>

    </div>
</div>