@{
    ViewData["Title"] = "Under Construction";
    Layout = null;
}
@* <link rel="icon" href="/int favicon.ico" /> *@

<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons.png" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
<style>
    .construction-back {
        color: #b0b0b0;

    }

    .go-back {
        background-color: #52b700;
        border:none;
        border-radius:5px;
        padding:5px 10px;
        color:#fff;
    }
</style>
<div class="container-fluid construction-back">
    <div class="container const-content my-5 py-5 text-center">
        <h1 class="text-success fw-bold">IntelXL</h1>
        <h4 class="my-2" style="color:#696969">This page under construction</h4>
        <div class="">
            <img src="~/images/crane.gif" style="width:200px;height:200px;" />
        </div>
        <a href="/Home"><button class="my-3 go-back">Go back</button></a>
        <p>Thank you for your interest in IntelXL, your trusted source for 
            cutting-edge technology solutions. We're excited to announce that
            we're currently in the process of revamping our website to provide
            you with an even more seamless and enjoyable browsing experience.</p>
       
    </div>
    
</div>