<footer class="footer footerpage" id="site-nav-footer">
    <div class="container-fluid px-2">
        <div class="container-fluid px-2">
            <div class="utility-links">© @DateTime.Now.Year IntelXL. All rights reserved.</div>
        </div>
    </div>
    @*  <div class="container">
    <div class="d-flex">
    <div class="mx-4">
    <p class="text-muted">IXL is an immersive learning experience that provides comprehensive,</p>
    <p class="text-muted">curriculum-aligned maths and English content for LKG to class XII.</p>
    <div class="py-4">
    <button type="button" class="btn btn-sm mx-2 px-4 " style="background-color:#52b700;color:#fff;">Join now</button>
    </div>
    </div>
    <div class="d-flex mx-4">
    <div class="mx-3">
    <h5 class="footerhead" style="color:#00aeef">What we offer</h5>
    <p>Membership</p>
    <p>Maths</p>
    <p>English</p>
    <p>Awards</p>
    <p>Analytics</p>
    <p>Curriculum</p>
    <p>Mobile apps</p>
    </div>
    <div class="mx-3">
    <h5 style="color:#00aeef">Resources</h5>
    <p>Help centre</p>
    <p>User guides</p>
    <p>Tell us what you think</p>
    <p>Blog</p>
    <p>Testimonials</p>
    <p>Help</p>
    <p>Contact us</p>
    </div>
    <div class="mx-3">
    <h5 style="color:#00aeef">About</h5>
    <p>Company</p>
    <p>Careers</p>
    <p>Terms of service</p>
    <p>Privacy policy</p>
    </div>
    <div class="mx-3">
    <h5 style="color:#00aeef">International</h5>
    <p>United states</p>
    <p>Australia</p>
    <p>Brasil</p>
    <p>Canada</p>
    <p>Espana</p>
    <p>France</p>
    <p>India</p>
    <p>Ireland</p>
    <p>Latinoamérica</p>
    <p>New Zealand</p>
    <p>South Africa</p>
    <p>United Kingdom</p>
    <p>All editions</p>
    </div>
    </div>
    </div>
    </div>*@
</footer>