<div class="container">
    <nav class="nav nav-pills nav-fill" style="height:42px;">
        <div class="d-flex justify-content-center align-items-center anime-container" style="width: 100%; height:42px; display: flex;">
            <div class="animated-background anime  py-2 col-2" style="height:26px;"></div>
            <div class="animated-background  anime  py-2 col-2" style="height:26px;"></div>
            <div class="animated-background anime  py-2 col-2" style="height:26px;"></div>
            <div class="animated-background anime  py-2 col-2" style="height:26px;"></div>
        </div>

    </nav>
</div>

<div class="container-fluid py-1" style="background-color:#e6e6e6;height:42px;">
    <div class="container d-flex my-2">
        <div class="mx-2 animated-background" style="height:24px;width:5vw;border-radius:4px;"></div>
        <div class="mx-2 px-2 animated-background" style="height:24px;width:5vw;border-radius:4px;"></div>
        <a><div class="mx-2 animated-background" style="height:24px;width:5vw;border-radius:4px;"></div></a>
    </div>
</div>

<div class="container lkg-container topics_mainDiv">
    <h2 class="my-4 animated-background" style="height:30px;width:30%;border-radius:4px;"><b></b></h2>
    <p class="animated-background" style="color:#919191;height:10px;width:80%;border-radius:4px;"></p>
    <p class="animated-background" style="color:#919191;height:10px;width:40%;border-radius:4px;"></p>
    <div class="row my-5 topics_with_subtopics">

    @for (var i = 0; i < 2; i++)
    {
            <div class="col-md-4 col-sm-6 shapes my-1" style="line-height:10px;">
                <h6 class="mb-5 animated-background" style="height:20px;width:50%;border-radius:4px;"></h6>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
            </div>
            <div class="col-md-4 col-sm-6 Count3 my-1" style="line-height:10px;">
                <h6 class="mb-5 animated-background" style="height:20px;width:50%;border-radius:4px;"></h6>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
            </div>
            <div class="col-md-4 col-sm-6 Count5 my-1" style="line-height:10px;">
                <h6 class="mb-5 animated-background" style="height:20px;width:50%;border-radius:4px;"></h6>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
                <p class="animated-background" style="height:10px;width:75%;border-radius:10px;"></p>
            </div>
       
    }
    </div>
</div>