<section class=" empty-qns-container">
    <div class=" empty-qns-img d-flex align-items-center justify-content-center" style="flex-direction:column;">
        <img src="~/images/empty-qus-img.png" style="opacity:0.5;" />
        <div class="emty-qns-txt text-center" style="opacity:0.5;"><h2>No Subscriptions Available..</h2></div>
    </div>

    
</section>
