<section class=" empty-qns-container">
    <div class="container empty-qns-img d-flex align-items-center justify-content-center">
        <img src="~/images/empty-qus-img.png" style="opacity:0.5;" />
    </div>

    <div class="emty-qns-txt text-center" style="opacity:0.5;"><h2>Don't have any questions in here..</h2></div>
</section>
