<style>
    .education-ins {
        background-color: #f2f2f2;
    }

    .navigation-ins {
        background-color: #f2f2f2;
        border-top: 1px solid #bababa;
    }

    .hr {
        opacity: 0.3;
        border-right: 1px solid #000;
    }

    .welcome-ins {
        border-bottom: 3px solid #0067bb;
    }

    .ins-banner img {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .learning-hub {
        background: #23e8ca;
        border-radius: 4px;
    }

    .ins-banner-head {
        background: #dbfffa;
    }

</style>
<div class="container-fluid d-flex justify-content-around p-2 education-ins">
    <div class="text-primary">For educators</div>
    <div class="">For families</div>
</div>
<div class="container-fluid navigation-ins">
    <div class="container d-flex justify-content-around p-2">
        <div class="welcome-ins px-3">Welcome</div>
        <div class="hr"></div>
        <div class="">Teachers toolkit</div>
        <div class="hr"></div>
        <div class="">admin resource center</div>
        <div class="hr"></div>
        <div class="">Implementation strategies</div>
        <div class="hr"></div>
        <div class="">Professional development</div>
    </div>
</div>
<div class="container-fluid p-0 ins-banner">
    <img src="~/images/inspriation-banner.png" />
    <div class="container ins-container d-flex justify-content-center pt-5">
        <div class="ins-banner-content">
            <div class="ins-banner-head d-flex justify-content-center p-3 px-5 my-2 mx-5">
                <div class="">
                    <h6>
                        Get your toolkit with strategies and resources for a successful school year:
                    </h6>
                </div>
                <div class="learning-hub px-4 mx-4">2023-2024 Learning hub</div>
            </div>
            <div class="display-4 text-white text-center pt-2">IXL Teacher resources</div>
            <div class="text-white text-center pt-2"><h4>Explore useful tools that will help you get the most out of IXL</h4></div>
        </div>
    </div>
</div>